<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <javaee:display-name>Buddy_Referral</javaee:display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>LoginController</javaee:display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.techm.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>LogoutController</javaee:display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.techm.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>AddNewJobController</javaee:display-name>
    <servlet-name>AddNewJobController</servlet-name>
    <servlet-class>com.techm.controller.AddNewJobController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewJobController</servlet-name>
    <url-pattern>/AddNewJobController</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>SpocViewJobsController</javaee:display-name>
    <servlet-name>SpocViewJobsController</servlet-name>
    <servlet-class>com.techm.controller.SpocViewJobsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpocViewJobsController</servlet-name>
    <url-pattern>/SpocViewJobsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>EditJobController</javaee:display-name>
    <servlet-name>EditJobController</servlet-name>
    <servlet-class>com.techm.controller.EditJobController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditJobController</servlet-name>
    <url-pattern>/EditJobController</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>EmpViewJobsController</javaee:display-name>
    <servlet-name>EmpViewJobsController</servlet-name>
    <servlet-class>com.techm.controller.EmpViewJobsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpViewJobsController</servlet-name>
    <url-pattern>/EmpViewJobsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>ReferABuddyController</javaee:display-name>
    <servlet-name>ReferABuddyController</servlet-name>
    <servlet-class>com.techm.controller.ReferABuddyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReferABuddyController</servlet-name>
    <url-pattern>/ReferABuddyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>SpocDeleteJobsController</javaee:display-name>
    <servlet-name>SpocDeleteJobsController</servlet-name>
    <servlet-class>com.techm.controller.SpocDeleteJobsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpocDeleteJobsController</servlet-name>
    <url-pattern>/SpocDeleteJobsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>SpocViewAndDeleteJobsController</javaee:display-name>
    <servlet-name>SpocViewAndDeleteJobsController</servlet-name>
    <servlet-class>com.techm.controller.SpocViewAndDeleteJobsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpocViewAndDeleteJobsController</servlet-name>
    <url-pattern>/SpocViewAndDeleteJobsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>SpocViewAndUpdateJobsController</javaee:display-name>
    <servlet-name>SpocViewAndUpdateJobsController</servlet-name>
    <servlet-class>com.techm.controller.SpocViewAndUpdateJobsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpocViewAndUpdateJobsController</servlet-name>
    <url-pattern>/SpocViewAndUpdateJobsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>SpocUpdateJobsController</javaee:display-name>
    <servlet-name>SpocUpdateJobsController</servlet-name>
    <servlet-class>com.techm.controller.SpocUpdateJobsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpocUpdateJobsController</servlet-name>
    <url-pattern>/SpocUpdateJobsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>ViewAvailableJobsController</javaee:display-name>
    <servlet-name>ViewAvailableJobsController</servlet-name>
    <servlet-class>com.techm.controller.ViewAvailableJobsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAvailableJobsController</servlet-name>
    <url-pattern>/ViewAvailableJobsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>ViewBuddyReferralRequest</javaee:display-name>
    <servlet-name>ViewBuddyReferralRequest</servlet-name>
    <servlet-class>com.techm.controller.ViewBuddyReferralRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBuddyReferralRequest</servlet-name>
    <url-pattern>/ViewBuddyReferralRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>CheckReferralStatus</javaee:display-name>
    <servlet-name>CheckReferralStatus</servlet-name>
    <servlet-class>com.techm.controller.CheckReferralStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckReferralStatus</servlet-name>
    <url-pattern>/CheckReferralStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <javaee:description></javaee:description>
    <javaee:display-name>SpocBuddyApproval</javaee:display-name>
    <servlet-name>SpocBuddyApproval</servlet-name>
    <servlet-class>com.techm.controller.SpocBuddyApproval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpocBuddyApproval</servlet-name>
    <url-pattern>/SpocBuddyApproval</url-pattern>
  </servlet-mapping>
</web-app>